.toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.all-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.to-link {
  text-decoration: none;
}

.upload-file {
  display: flex;

  align-items: center;
}
